{% extends '@grr_front/layout_front.html.twig' %}

{% block title %}{{'page.notfound'|trans}}{% endblock %}

{% block body %}
    <div class="card bg-light mb-3">
        <div class="card-header">
            <h2>{{'page.notfound'|trans}}: {{ status_text }}</h2>
        </div>
        <div class="card-body">

            <p>
                <a href="{{ path('grr_home') }}">{{'return.homepage'|trans}}</a>
            </p>

            <img src="{{ asset('images/totem_grr.png') }}" alt="grr">
        </div>
    </div>
{% endblock %}
