
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>{{ 'room.form.nom.label'|trans }}</th>
            <th>{{ 'room.form.orderDisplay.label'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for grr_room in rooms %}
            <tr>
                <td>{{ grr_room.areaId }}</td>
                <td><a href="{{ path('grr_room_show', {'id': grr_room.id}) }}">{{ grr_room.roomName }}</a></td>
                <td>{{ grr_room.orderDisplay }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">{{ 'records.notfound'| trans({}, 'actions') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>