{% extends 'base.html.twig' %}

{% block title %}{{ 'GrrArea index'|trans({}, 'actions') }}{% endblock %}

{% block body %}
    <h1>{{ 'GrrArea index'|trans({}, 'actions') }}</h1>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>AreaName</th>
            <th>OrderDisplay</th>
            <th>MorningstartsArea</th>
            <th>EveningendsArea</th>
        </tr>
        </thead>
        <tbody>
        {% for grr_area in grr_areas %}
            <tr>
                <td>
                    <a href="{{ path('grr_area_show', {'id': grr_area.id}) }}">{{ grr_area.areaName }}</a>
                </td>
                <td>{{ grr_area.orderDisplay }}</td>
                <td>{{ grr_area.morningstartsArea }}</td>
                <td>{{ grr_area.eveningendsArea }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{{ 'no records found'| trans({}, 'actions') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('grr_area_new') }}">{{ 'Create new'| trans({}, 'actions') }}</a>
{% endblock %}
