{% extends 'base.html.twig' %}

{% block title %}{{ 'area.new.title'|trans({}, 'actions') }}{% endblock %}

{% block body %}
    <h1>{{ 'area.new.title'|trans({}, 'actions') }}</h1>

    {{ include('grr_area/_form.html.twig') }}

    <br/>
    <a href="{{ path('grr_area_index') }}"><i
                class="fas fa-arrow-left"></i> {{ 'form.btn.cancel'|trans({}, 'actions') }}</a>
{% endblock %}
