{% extends 'base.html.twig' %}

{% block title %}{{ grr_area.areaName }}{% endblock %}

{% block body %}

    <h1>{{ grr_area.areaName }}</h1>

    {% include 'grr_area/_actions.html.twig' %}

    <table class="table table-bordered">
        <tbody>
        <tr>
            <th>
                {{ 'area.form.access.label'|trans }}
            </th>
            <td>{{ grr_area.access }}</td>
        </tr>
        <tr>
            <th>{{ 'area.form.orderDisplay.label'|trans }}</th>
            <td>{{ grr_area.orderDisplay }}</td>
        </tr>
        <tr>
            <th>
                {{ 'area.form.ipAdr.label'|trans }}<br/>
                <span class="text-muted">{{ 'area.form.ipAdr.help'|trans }}</span>
            </th>
            <td>{{ grr_area.ipAdr }}</td>
        </tr>
        <tr>
            <th>{{ 'area.form.morningstartsArea.label'|trans }}</th>
            <td>{{ grr_area.morningstartsArea }}</td>
        </tr>
        <tr>
            <th>{{ 'area.form.eveningendsArea.label'|trans }}</th>
            <td>{{ grr_area.eveningendsArea }}</td>
        </tr>
        <tr>
            <th>
                {{ 'area.form.resolutionArea.label'|trans }}<br/>
                <span class="text-muted">  {{ 'area.form.resolutionArea.help'|trans }}</span>
            </th>
            <td>{{ grr_area.resolutionArea }}</td>
        </tr>
        <tr>
            <th>{{ 'area.form.eveningendsMinutesArea.label'|trans }}</th>
            <td>{{ grr_area.eveningendsMinutesArea }}</td>
        </tr>
        <tr>
            <th>{{ 'area.form.weekstartsArea.label'|trans }}</th>
            <td>{{ grr_area.weekstartsArea }}</td>
        </tr>
        <tr>
            <th>{{ 'area.form.twentyfourhourFormatArea.label'|trans }}</th>
            <td>{{ grr_area.twentyfourhourFormatArea }}</td>
        </tr>
        <tr>
            <th>{{ 'area.form.enablePeriods.label'|trans }}</th>
            <td>{{ grr_area.enablePeriods }}</td>
        </tr>
        <tr>
            <th>{{ 'area.form.displayDays.label'|trans }}</th>
            <td>{{ grr_area.displayDays|join(',') }}</td>
        </tr>
        <tr>
            <th>
                {{ 'area.form.dureeMaxResaArea.label'|trans }}<br/>
                <span class="text-muted">{{ 'area.form.dureeMaxResaArea.help'|trans }}</span>
            </th>
            <td>{{ grr_area.dureeMaxResaArea }}</td>
        </tr>
        <tr>
            <th>
                {{ 'area.form.dureeParDefautReservationArea.label'|trans }}<br/>
                <span class="text-muted">{{ 'area.form.dureeParDefautReservationArea.help'|trans }}</span>
            </th>
            <td>{{ grr_area.dureeParDefautReservationArea }}</td>
        </tr>
        <tr>
            <th>
                {{ 'area.form.maxBooking.label'|trans }}<br/>
                <span class="text-muted">{{ 'area.form.maxBooking.help'|trans }}</span>
            </th>
            <td>{{ grr_area.maxBooking }}</td>
        </tr>
        <tr>
            <th>{{ 'area.form.calendardefaultvalues.label'|trans }}</th>
            <td>{{ grr_area.calendarDefaultValues }}</td>
        </tr>
        <tr>
            <th>{{ 'area.form.idTypeParDefaut.label'|trans }}</th>
            <td>{{ grr_area.idTypeParDefaut }}</td>
        </tr>
        </tbody>
    </table>

    {{ include('grr_area/_delete_form.html.twig') }}
{% endblock %}
