{% extends '@grr_front/layout_front.html.twig' %}

{% block title %}{{ 'action.edit'|trans({},'actions') }} {{ entry.name }}{% endblock %}

{% block body %}
    <h1>{{ entry.name }}</h1>

    {{ include('@grr_front/entry/form/_form.html.twig', {'button_label': 'Update'}) }}

    <br/>
    <a href="{{ path('grr_front_entry_show',{'id': entry.id}) }}"><i
                class="fas fa-arrow-left"></i> {{ 'form.btn.cancel'|trans({}, 'actions') }}</a>

{% endblock %}
{% block scripts %}
    <script src="{{ asset('js/display_select_days.js') }}"></script>
    {% include '@grr_front/entry/form/_rooms_list_ajax.html.twig' %}
{% endblock %}