{% extends '@grr_front/layout_front.html.twig' %}

{% block title %}{{ 'entry.index.title'|trans({}, 'actions') }}{% endblock %}

{% block body %}
    <div class="card bg-light mb-3">
        <div class="card-header">
            <h2>{{ 'entry.index.title'|trans({}, 'actions') }}</h2>
        </div>
        <div class="card-body">

            {% include 'search/_entry.html.twig' %}

            <br/> <br/>

            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>{{ 'entry.form.name.label'|trans }}</th>
                    <th>{{ 'entry.form.startTime.label'|trans }}</th>
                    <th>{{ 'entry.form.endTime.label'|trans }}</th>
                    <th>{{ 'entry.form.room.label'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for entry in entries %}
                    <tr>
                        <td>
                            <a href="{{ path('grr_front_entry_show', {'id': entry.id}) }}">
                                {{ entry.name }}</a>
                        </td>
                        <td>{{ entry.startTime|date('Y-m-d H:i:s') }}</td>
                        <td>{{ entry.endTime|date('Y-m-d H:i:s') }}</td>
                        <td>{{ entry.room }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">{{ 'records.notfound'| trans({}, 'actions') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    {% include '@grr_front/_select_room_js.html.twig' %}
{% endblock %}
