<a href="{{ path('grr_admin_user_edit', { 'id': user.id }) }}" role="button"
   class="btn btn-primary"><i class="fas fa-user-edit"></i> {{ 'form.btn.edit.label'|trans({}, 'actions') }}</a>

<a href="{{ path('grr_authorization_show_by_user', { 'id': user.id }) }}" role="button"
   class="btn btn-primary"><i class="fas fa-user-shield"></i> {{ 'form.btn.perimission'|trans({}, 'actions') }}</a>

<a href="{{ path('grr_admin_user_password', { 'id': user.id }) }}" role="button"
   class="btn btn-primary"><i class="fas fa-user-secret"></i> {{ 'form.btn.password'|trans({}, 'actions') }}</a>

<a href="{{ path('grr_admin_user_index') }}" class="btn btn-primary" role='button'>
 <i class="fas fa-users"></i>   {{ 'back.to.list'|trans({}, 'actions') }}
</a>

<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
    <i class="fas fa-user-times"></i> {{ 'form.btn.delete.label'|trans({}, 'actions') }}
</button>
<br/>
<br/>