{% extends '@grr_admin/layout_admin.html.twig' %}

{% block title %}{{ 'user.index.title'|trans({}, 'actions') }}{% endblock %}

{% block body %}

    <div class="card bg-light mb-3">
        <div class="card-header">
            <div class="row">
                <div class="col">
                    <h3>{{ 'user.index.title'|trans({'length': users|length}, 'actions') }}</h3>
                </div>
                <div class="col">
                    <a class="float-right btn btn-primary" href="{{ path('grr_admin_user_new') }}">
                        <i class="fas fa-plus"></i> {{ 'user.new.title'| trans({}, 'actions') }}</a>
                </div>
            </div>
        </div>
        <div class="card-body">

            <br/> <br/>

            {% include '@grr_admin/search/_user.html.twig' %}

            <br/> <br/>

            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>{{ 'user.account.email.label'| trans }}</th>
                    <th>{{ 'user.form.nom.label'| trans }}</th>
                    <th>{{ 'user.form.username.label'| trans }}</th>
                    <th>{{ 'user.form.isEnabled.label'| trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>
                            <a href="{{ path('grr_admin_user_show', {'id': user.id}) }}">{{ user.email }}</a>
                        </td>
                        <td>{{ user.name }} {{ user.firstName }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.isEnabled }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">{{ 'records.notfound'|trans({}, 'actions') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
