{% extends '@grr_admin/layout_admin.html.twig' %}

{% block title %}{{ 'settings.title'|trans }}{% endblock %}

{% block body %}

    <div class="card bg-light mb-3">
        <div class="card-header">
            <h3>{{ 'settings.title'|trans }}</h3>
        </div>
        <div class="card-body">
            {{ include('@grr_admin/setting/_form.html.twig') }}
        </div>
    </div>

    <a href="{{ path('grr_admin_setting_index') }}"><i
                class="fas fa-arrow-left"></i> {{ 'form.btn.cancel'|trans({},'actions') }}</a>

{% endblock %}
{% block scripts %}
    <script src="{{ asset('js/add-collection-widget.js') }}"></script>
{% endblock %}
