<a href="{{ path('grr_admin_area_edit', { 'id': area.id }) }}" role="button"
   class="btn btn-primary"><i class="far fa-edit"></i> {{ 'form.btn.edit'|trans({}, 'actions') }}</a>

<a href="{{ path('grr_authorization_area_show', { 'id': area.id }) }}" role="button"
   class="btn btn-primary"><i class="fas fa-user-shield"></i> {{ 'form.btn.perimission'|trans({}, 'actions') }}</a>

<a href="{{ path('grr_admin_room_new', { 'id': area.id }) }}" role="button"
   class="btn btn-primary"><i class="fa fa-plus"></i> {{ 'room.new.title'|trans({}, 'actions') }}</a>

<a href="{{ path('grr_admin_area_edit', { 'id': area.id }) }}" role="button"
   class="btn btn-primary" target="apercu"><i class="far fa-eye"></i> {{ 'form.btn.see'|trans({}, 'actions') }}</a>

<a href="{{ path('grr_admin_area_index') }}" class="btn btn-primary" role='button'><i class="fas fa-list"></i>
    {{ 'back.to.list'|trans({}, 'actions') }}
</a>

<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
    <i class="fas fa-trash"></i> {{ 'form.btn.delete'|trans({}, 'actions') }}
</button>
<br/>
<br/>