{% extends '@grr_admin/layout_admin.html.twig' %}

{% block title %}{{ 'area.index.title'|trans({}, 'actions') }}{% endblock %}

{% block body %}
    <h1>{{ 'area.index.title'|trans({}, 'actions') }}</h1>

    <a class="btn btn-primary" href="{{ path('grr_admin_area_new') }}"><i
                class="fas fa-plus"></i> {{ 'area.new.title'| trans({}, 'actions') }}</a>
    <br/> <br/>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>{{ 'name'| trans }}</th>
            <th>{{ 'area.form.orderDisplay.label'| trans }}</th>
            <th>{{ 'area.form.morningstartsArea.label'| trans }}</th>
            <th>{{ 'area.form.eveningendsArea.label'| trans }}</th>
            <th>{{ 'area.rooms.title'| trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for area in areas %}
            <tr>
                <td>
                    <a href="{{ path('grr_admin_area_show', {'id': area.id}) }}">{{ area.name }}</a>
                </td>
                <td>{{ area.orderDisplay }}</td>
                <td>{{ area.morningstartsArea }}</td>
                <td>{{ area.eveningendsArea }}</td>
                <td>{{ area.rooms|length }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{{ 'records.notfound'| trans({}, 'actions') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
