{% extends '@grr_admin/layout_admin.html.twig' %}

{% block title %}{{ area.name }}{% endblock %}

{% block body %}

    <h1>{{ area.name }}</h1>

    {% include '@grr_admin/area/_actions.html.twig' %}

    <div class="row">
        <div class="col-6">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th>
                        {{ 'area.form.access.label'|trans }}
                    </th>
                    <td>{{ area.isPrivate }}</td>
                </tr>
                <tr>
                    <th>{{ 'area.form.orderDisplay.label'|trans }}</th>
                    <td>{{ area.orderDisplay }}</td>
                </tr>
                <tr>
                    <th>{{ 'area.form.weekstartsArea.label'|trans }}</th>
                    <td>{{ area.weekStart | grrJoursSemaine }}</td>
                </tr>
                <tr>
                    <th>{{ 'area.form.morningstartsArea.label'|trans }}</th>
                    <td>{{ area.startTime }}</td>
                </tr>
                <tr>
                    <th>{{ 'area.form.eveningendsArea.label'|trans }}</th>
                    <td>{{ area.endTime }}</td>
                </tr>
                <tr>
                    <th>
                        {{ 'area.form.resolutionArea.label'|trans }}<br/>
                        <span class="text-muted">{{ 'area.form.resolutionArea.help'|trans }}</span>
                    </th>
                    <td>{{ area.durationTimeSlot }}</td>
                </tr>
                <tr>
                    <th>{{ 'area.form.eveningendsMinutesArea.label'|trans }}</th>
                    <td>{{ area.minutesToAddToEndTime }}</td>
                </tr>
                <tr>
                    <th>{{ 'area.form.twentyfourhourFormatArea.label'|trans }}</th>
                    <td>{{ area.is24HourFormat | grrHourFormat }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-6">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th>{{ 'area.form.displayDays.label'|trans }}</th>
                    <td>
                        {% for jour in  area.daysOfWeekToDisplay %}
                            {{ jour | grrJoursSemaine }},
                        {% endfor %}
                    </td>
                </tr>

                <tr>
                    <th>
                        {{ 'area.form.dureeMaxResaArea.label'|trans }}<br/>
                        <span class="text-muted">{{ 'area.form.dureeMaxResaArea.help'|trans }}</span>
                    </th>
                    <td>{{ area.durationMaximumEntry }}</td>
                </tr>
                <tr>
                    <th>
                        {{ 'area.form.dureeParDefautReservationArea.label'|trans }}<br/>
                        <span class="text-muted">{{ 'area.form.dureeParDefautReservationArea.help'|trans }}</span>
                    </th>
                    <td>{{ area.durationDefaultEntry }}</td>
                </tr>
                <tr>
                    <th>
                        {{ 'area.form.maxBooking.label'|trans }}<br/>
                        <span class="text-muted">{{ 'area.form.maxBooking.help'|trans }}</span>
                    </th>
                    <td>{{ area.maxBooking }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    {% include '@grr_admin/area/_list_rooms.html.twig' %}

    {{ include('@grr_admin/area/_delete_form.html.twig') }}
{% endblock %}
