<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col" class="text-center" colspan="8">
            <a href="{{ grrGenerateRouteMonthView() }}">
                {{ firstDay.monthName|upper }} {{ firstDay.year }}
            </a>
            <hr>
            <a href="{{ grrGenerateRouteDayView(today.day) }}">
                {{ 'Today' | trans}}
            </a>
        </th>
    </tr>
    <tr>
        <th>{{ 'week'|trans }}</th>
        {% for dayName in listDays %}
            <th scope="col">{{ dayName|trans }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tr class="">

        {% for week in weeks %}

        {% if week.startDate.week == weekSelected %}
            {% set class = "table-info" %}
        {% else %}
            {% set class = "" %}
        {% endif %}

    <tr class="{{ class }}">
        {% include '@grr_front/navigation/month/_cell_week.html.twig' with {'numericWeek': week.startDate.week } %}
        {% for day in week %}
            {% include '@grr_front/navigation/month/_cell_day.html.twig' with { 'day': day } %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>