{% extends '@grr_admin/layout_admin.html.twig' %}

{% block title %}{{ room.name }}{% endblock %}

{% block body %}
    <h1>{{ room.name }}</h1>

    {{ include('@grr_admin/room/_form.html.twig', {'button_label': 'form.btn.update'}) }}

    <br />
    <a href="{{ path('grr_admin_area_show',{'id': room.area.id}) }}"><i class="fas fa-arrow-left"></i> {{ 'form.btn.cancel'|trans({}, 'actions') }}</a>

{% endblock %}
