{% extends '@grr_admin/layout_admin.html.twig' %}

{% block title %}{{ room.name }}{% endblock %}

{% block body %}
    <div class="card bg-light mb-3">
        <div class="card-header">
            <h2>{{ room.name }}</h2>
        </div>
        <div class="card-body">

            {% include '@grr_admin/room/_actions.html.twig' %}

            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th>{{ 'room.form.description.label'|trans }}</th>
                    <td>{{ room.description }}</td>
                </tr>
                <tr>
                    <th>
                        {{ 'room.form.capacity.label'|trans }}<br/>
                        <span class="text-muted">{{ 'room.form.capacity.help'|trans }}</span>
                    </th>
                    <td>{{ room.capacity }}</td>
                </tr>
                <tr>
                    <th>
                        {{ 'room.form.maxBooking.label'|trans }}<br/>
                        <span class="text-muted">{{ 'room.form.maxBooking.help'|trans }}</span>
                    </th>
                    <td>{{ room.maximumBooking }}</td>
                </tr>
                <tr>
                    <th>
                        {{ 'room.form.statutRoom.label'|trans }}<br/>
                        <span class="text-muted">{{ 'room.form.statutRoom.help'|trans }}</span>
                    </th>
                    <td>{{ room.statutRoom }}</td>
                </tr>
                <tr>
                    <th>
                        {{ 'room.form.showFicRoom.label'|trans }}<br/>
                        <span class="text-muted">{{ 'room.form.showFicRoom.help'|trans }}</span>
                    </th>
                    <td>{{ room.showFicRoom }}</td>
                </tr>
                <tr>
                    <th>{{ 'room.form.pictureRoom.label'|trans }}</th>
                    <td>{{ room.pictureRoom }}</td>
                </tr>
                <tr>
                    <th>{{ 'room.form.commentRoom.label'|trans }}</th>
                    <td>{{ room.commentRoom }}</td>
                </tr>
                <tr>
                    <th>{{ 'room.form.showComment.label'|trans }}</th>
                    <td>{{ room.showComment }}</td>
                </tr>
                <tr>
                    <th>{{ 'room.form.delaisMaxResaRoom.label'|trans }}</th>
                    <td>{{ room.delaisMaxResaRoom }}</td>
                </tr>
                <tr>
                    <th>{{ 'room.form.delaisMinResaRoom.label'|trans }}</th>
                    <td>{{ room.delaisMinResaRoom }}</td>
                </tr>
                <tr>
                    <th>
                        {{ 'room.form.allowActionInPast.label'|trans }}<br/>
                        <span class="text-muted">{{ 'room.form.allowActionInPast.help'|trans }}</span>
                    </th>
                    <td>{{ room.allowActionInPast }}</td>
                </tr>
                <tr>
                    <th>{{ 'room.form.orderDisplay.label'|trans }}</th>
                    <td>{{ room.orderDisplay }}</td>
                </tr>
                <tr>
                    <th>
                        {{ 'room.form.delaisOptionReservation.label'|trans }}<br/>
                        <span class="text-muted">{{ 'room.form.delaisOptionReservation.help'|trans }}</span>
                    </th>
                    <td>{{ room.delaisOptionReservation }}</td>
                </tr>
                <tr>
                    <th>
                        {{ 'room.form.dontAllowModify.label'|trans }}<br/>
                        <span class="text-muted">{{ 'room.form.dontAllowModify.help'|trans }}</span>
                    </th>
                    <td>{{ room.dontAllowModify }}</td>
                </tr>
                <tr>
                    <th>
                        {{ 'room.form.typeAffichageReser.label'|trans }}<br/>
                        <span class="text-muted">{{ 'room.form.typeAffichageReser.help'|trans }}</span>
                    </th>
                    <td>{{ room.typeAffichageReser }}</td>
                </tr>
                <tr>
                    <th>
                        {{ 'room.form.moderate.label'|trans }}<br/>
                        <span class="text-muted">{{ 'room.form.moderate.help'|trans }}</span>
                    </th>
                    <td>{{ room.moderate }}</td>
                </tr>
                <tr>
                    <th>
                        {{ 'room.form.quiPeutReserverPour.label'|trans }}<br/>
                        <span class="text-muted">{{ 'room.form.quiPeutReserverPour.help'|trans }}</span>
                    </th>
                    <td>{{ room.quiPeutReserverPour }}</td>
                </tr>
                <tr>
                    <th>{{ 'room.form.activeRessourceEmpruntee.label'|trans }}</th>
                    <td>{{ room.activeRessourceEmpruntee }}</td>
                </tr>
                <tr>
                    <th>
                        {{ 'room.form.authorization.label'|trans }}<br/>
                        <span class="text-muted">{{ 'room.form.authorization.help'|trans }}</span>
                    </th>
                    <td>{{ room.ruleToAdd }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    {{ include('@grr_admin/room/_delete_form.html.twig') }}
{% endblock %}
