{% extends '@grr_front/layout_front.html.twig' %}

{% block title %}{{ firstDay.monthName|trans|title }} {{ firstDay.year }}{% endblock %}

{% block body %}

    {% include '@grr_front/navigation/_top_navigation.html.twig' %}

    <h3 class="text-center text-success">
        {{ firstDay.monthName|title }} {{ firstDay.year }}<br/>
        {{ area }} - {% if room %} {{ room }} {% else %} {{ 'room.all'|trans({},'actions') }} {% endif %}
    </h3>

    {{ data|raw }}
{% endblock %}

{% block scripts %}
    {% include '@grr_front/navigation/form/_menu_select.js.html.twig' %}
{% endblock %}
