<div class="p-2 mb-1">
    <a class="" href="{{ path('grr_front_entry_show', {'id': entry.id}) }}">
        {{ entry.name }}
    </a>
    <span class="text-muted">
    {{ entry.startTime|date('H:i') }}
    - {{ entry.endtime|date('H:i') }}
             </span>
            <br/>
            <span class="font-weight-bold">
                {{ entry.room }}
            </span>
        </div>
        <div class="w-25 d-none d-sm-block" style="background-color: {{ entry.type.color }}">
            <span class="sr-only">{{ entry.type.name }}</span>&nbsp;&nbsp;
        </div>

<hr style="margin: 0;">