{% set numericDay = day|date('w') %}

{# premiere ligne #}
{% if loop.first %}

    <td>{{ day | date('W') }}</td>

    {# on remplit les cases vides #}
    {% if numericDay != 1 %}
        {{ completeTr(2, numericDay) }}
    {% endif %}

    {# si lundi 1 #}
{% elseif numericDay == 1 %}
    <td>{{ day | date('W') }}</td>
{% endif %}

<td><span class="text-muted">({{ numericDay }})</span> {{ day | date('j') }}</td>

{# retour a la ligne si dimanche #}
{% if numericDay == 0 %}
    </tr>
<tr>

    {% endif %}

    {# derniere ligne on comble les vide #}
    {% if loop.last %}
    {% if numericDay != 0 %}
        {{ completeTr(numericDay, 6) }}
    {% endif %}
{% endif %}