<table class="table">
    <tr>
        <th class="text-center" colspan="8">
            <a href="{{ generateRouteMonthView() }}">
                {{ current|date('F Y') }}
            </a>
        </th>
    </tr>
    <tr>
        <th>{{ 'week'|trans }}</th>
        <th>{{ 'monday'|trans }}</th>
        <th>{{ 'tuesday'|trans }}</th>
        <th>{{ 'wednesday'|trans }}</th>
        <th>{{ 'thursday'|trans }}</th>
        <th>{{ 'friday'|trans }}</th>
        <th>{{ 'saturday'|trans }}</th>
        <th>{{ 'sunday'|trans }}</th>
    </tr>
    <tbody>

    {% set weekSelected = app.request.get('week') %}
    {% set class = "" %}

    {% if current | date('W') == weekSelected %}
        {% set class = "table-info" %}
    {% endif %}

    <tr class="{{ class }}">
        {% for day in days %}
            {% include 'calendar/navigation/_week_line.html.twig' %}
        {% endfor %}
    <tr>
    </tbody>
</table>
