{% set weekSelected = app.request.get('week') %}

<table class="table table-bordered">
    <thead>
    <tr>
        <th class="text-center" colspan="8">
            <a href="{{ generateRouteMonthView() }}">
                {{ firstDay.monthName|upper }} {{ firstDay.year }}
            </a>
        </th>
    </tr>
    <tr>
        <th>{{ 'week'|trans }}</th>
        {% for dayName in listDays %}
            <th>{{ dayName|trans }}</th>
        {% endfor %}
    </tr>
    </thead>
    {% for week in weeks %}

        {% if week.startDate.week == weekSelected %}
            {% set class = "table-info" %}
        {% else %}
            {% set class = "" %}
        {% endif %}

        <tr class="{{ class }}">
            {% include 'calendar/navigation/_cell_week.html.twig' with {'numericWeek': week.startDate.week } %}
            {% for day in week %}
                <td>
                    {% include 'calendar/navigation/_cell_day.html.twig' with { 'day': day } %}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>