<table class="table">
    <tbody>
    <tr>
        <th class="text-center" colspan="8">
            <a href="{{ generateRouteMonthView() }}">
             {{ firstDay|date('F') | trans }} {{ firstDay|date('Y') }}
            </a>
        </th>
    </tr>
    <tr>
        <th>{{ 'week'|trans }}</th>
        <th>{{ 'monday'|trans }}</th>
        <th>{{ 'tuesday'|trans }}</th>
        <th>{{ 'wednesday'|trans }}</th>
        <th>{{ 'thursday'|trans }}</th>
        <th>{{ 'friday'|trans }}</th>
        <th>{{ 'saturday'|trans }}</th>
        <th>{{ 'sunday'|trans }}</th>
    </tr>

    {% set weekSelected = app.request.get('week') %}

    {% for numericWeek, days in weeks %}

        {% if numericWeek == weekSelected %}
            {% set class = "table-info" %}
        {% else %}
            {% set class = "" %}
        {% endif %}

        <tr class="{{ class }}">
            {% include 'calendar/navigation/_cell_week.html.twig' %}
            {% for day in days %}
                {% include 'calendar/navigation/_week_line.html.twig' %}
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>

</table>