{% extends 'base.html.twig' %}

{% block title %}{{ 'entry.index.title'|trans({}, 'actions') }}{% endblock %}

{% block body %}
    <h1>{{ 'entry.index.title'|trans({}, 'actions') }}</h1>

    {% include 'search/entry.html.twig' %}

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>{{ 'entry.form.name.label'|trans }}</th>
            <th>{{ 'entry.form.startTime.label'|trans }}</th>
            <th>{{ 'entry.form.endTime.label'|trans }}</th>
            <th>{{ 'entry.form.room.label'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for grr_entry in entries %}
            <tr>
                <td>
                    <a href="{{ path('grr_entry_show', {'id': grr_entry.id}) }}">
                        {{ grr_entry.name }}</a>
                </td>
                <td>{{ grr_entry.startTime|date('Y-m-d H:i:s') }}</td>
                <td>{{ grr_entry.endTime|date('Y-m-d H:i:s') }}</td>
                <td>{{ grr_entry.roomId | room_getName }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{{ 'records.notfound'| trans({}, 'actions') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
