{% extends 'base.html.twig' %}

{% block title %}{{ grr_entry.name }}{% endblock %}

{% block body %}
    <h1>{{ grr_entry.name }}</h1>

    {% include 'grr_entry/_actions.html.twig' %}

    <div class="row">
        <div class="col-6">

            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th>{{ 'entry.form.startTime.label'|trans }}</th>
                    <td>{{ grr_entry.startTime|date('Y-m-d H:i:s') }}</td>
                </tr>
                <tr>
                    <th>{{ 'entry.form.endTime.label'|trans }}</th>
                    <td>{{ grr_entry.endTime |date('Y-m-d H:i:s') }}</td>
                </tr>
                <tr>
                    <th>{{ 'entry.form.room.label'|trans }}</th>
                    <td>{{ grr_entry.roomId | room_getName }}</td>
                </tr>
                <tr>
                    <th>Timestamp</th>
                    <td>{{ grr_entry.timestamp ? grr_entry.timestamp|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>{{ 'entry.form.type.label'|trans }}</th>
                    <td>{{ grr_entry.type }}</td>
                </tr>
                <tr>
                    <th>{{ 'entry.form.statutEntry.label'|trans }}</th>
                    <td>{{ grr_entry.statutEntry }}</td>
                </tr>
                </tbody>
            </table>

        </div>
        <div class="col-6">

            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th>{{ 'entry.form.entryType.label'|trans }}</th>
                    <td>{{ grr_entry.entryType }}</td>
                </tr>
                <tr>
                    <th>{{ 'entry.form.repeatId.label'|trans }}</th>
                    <td>{{ grr_entry.repeatId }}</td>
                </tr>
                <tr>
                    <th>{{ 'entry.form.createBy.label'|trans }}</th>
                    <td>{{ grr_entry.createBy }}</td>
                </tr>
                <tr>
                    <th>{{ 'entry.form.beneficiaireExt.label'|trans }}</th>
                    <td>{{ grr_entry.beneficiaireExt }}</td>
                </tr>
                <tr>
                    <th>{{ 'entry.form.beneficiaire.label'|trans }}</th>
                    <td>{{ grr_entry.beneficiaire }}</td>
                </tr>
                <tr>
                    <th>{{ 'entry.form.description.label'|trans }}</th>
                    <td>{{ grr_entry.description }}</td>
                </tr>
                <tr>
                    <th>{{ 'entry.form.optionReservation.label'|trans }}</th>
                    <td>{{ grr_entry.optionReservation }}</td>
                </tr>
                <tr>
                    <th>{{ 'entry.form.overloadDesc.label'|trans }}</th>
                    <td>{{ grr_entry.overloadDesc }}</td>
                </tr>
                <tr>
                    <th>{{ 'entry.form.moderate.label'|trans }}</th>
                    <td>{{ grr_entry.moderate }}</td>
                </tr>
                <tr>
                    <th>{{ 'entry.form.jours.label'|trans }}</th>
                    <td>{{ grr_entry.jours }}</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>

    {% if grr_repeat %}
        <h3>Repeat</h3>
        {% include 'grr_repeat/_detail.html.twig' %}
    {% endif %}

    {{ include('grr_entry/_delete_form.html.twig') }}
{% endblock %}
