{% extends 'layout_front.html.twig' %}

{% block title %}{{ 'room.new.title'|trans({}, 'actions')}}{% endblock %}

{% block body %}
    <h1>{{ 'room.new.title'|trans({}, 'actions')}}</h1>

    {{ include('room/_form.html.twig') }}

    <br />
    <a href="{{ path('grr_room_index') }}"><i class="fas fa-arrow-left"></i> {{ 'back.to.list'|trans({}, 'actions') }}</a>
{% endblock %}
