{% extends '@grr_admin/layout_admin.html.twig' %}

{% block title %}GrrUtilisateurs index{% endblock %}

{% block body %}

    <h1>{{ 'user.index.title'|trans({}, 'actions') }}</h1>

    <a class="btn btn-primary" href="{{ path('grr_admin_user_new') }}">
        <i class="fas fa-plus"></i> {{ 'user.new.title'| trans({}, 'actions') }}</a>
    <br/> <br/>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>{{ 'user.profile.email.label'| trans }}</th>
            <th>{{ 'user.form.nom.label'| trans }}</th>
            <th>{{ 'user.form.isEnabled.label'| trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for utilisateur in utilisateurs %}
            <tr>
                <td>
                    <a href="{{ path('grr_admin_user_show', {'id': utilisateur.id}) }}">{{ utilisateur.email }}</a>
                </td>
                <td>{{ utilisateur.name }} {{ utilisateur.firstName }}</td>
                <td>{{ utilisateur.email }}</td>
                <td>{{ utilisateur.isEnabled }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">{{ 'records.notfound'|trans({}, 'actions') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
