{% extends '@grr_admin/layout_admin.html.twig' %}

{% block title %}{{ utilisateur.name }}{% endblock %}

{% block body %}
    <h1>{{ utilisateur.email }}</h1>

    {% include '@grr_admin/utilisateurs/_actions.html.twig' %}

    <table class="table table-bordered">
        <tbody>
        <tr>
            <th>{{ 'user.form.nom.label'| trans }}</th>
            <td>{{ utilisateur.name }}</td>
        </tr>
        <tr>
            <th>{{ 'user.form.prenom.label'| trans }}</th>
            <td>{{ utilisateur.firstName }}</td>
        </tr>
        <tr>
            <th>{{ 'user.form.email.label'| trans }}</th>
            <td>{{ utilisateur.email }}</td>
        </tr>
        <tr>
            <th>{{ 'user.form.etat.label'| trans }}</th>
            <td>{{ utilisateur.isEnabled }}</td>
        </tr>
        <tr>
            <th>{{ 'entry.form.area.label'| trans }}</th>
            <td>{{ utilisateur.areaDefault }}</td>
        </tr>
        <tr>
            <th>{{ 'user.form.room.label'| trans }}</th>
            <td>{{ utilisateur.roomDefault }}</td>
        </tr>
    </table>

    <h3>Droits</h3>
    {% include 'security/user_manager_resource/_detail_permissions.html.twig' with {'manages': utilisateur.usersManagerResource} %}

    {{ include('@grr_admin/utilisateurs/_delete_form.html.twig') }}
{% endblock %}
