{% extends 'layout_front.html.twig' %}

{% block title %}{{ 'entry.index.title'|trans({}, 'actions') }}{% endblock %}

{% block body %}
    <h1>{{ 'entry.index.title'|trans({}, 'actions') }}</h1>

    {% include 'search/entry.html.twig' %}

    <a class="btn btn-primary" href="{{ path('grr_entry_new') }}"><i
                class="fas fa-plus"></i> {{ 'entry.new.title'| trans({}, 'actions') }}</a>
    <br/> <br/>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>{{ 'entry.form.name.label'|trans }}</th>
            <th>{{ 'entry.form.startTime.label'|trans }}</th>
            <th>{{ 'entry.form.endTime.label'|trans }}</th>
            <th>{{ 'entry.form.room.label'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for entry in entries %}
            <tr>
                <td>
                    <a href="{{ path('grr_entry_show', {'id': entry.id}) }}">
                        {{ entry.name }}</a>
                </td>
                <td>{{ entry.startTime|date('Y-m-d H:i:s') }}</td>
                <td>{{ entry.endTime|date('Y-m-d H:i:s') }}</td>
                <td>{{ entry.roomId | room_getName }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{{ 'records.notfound'| trans({}, 'actions') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
