{% extends '@grr_admin/layout_admin.html.twig' %}

{% block title %}New UserManagerResource{% endblock %}

{% block body %}
    <h1>
        {{ 'usermanagerresource.new.title'|trans }}
        {{ user_manager_resource.area }}{# {{ user_manager_resource.room }} {{ user_manager_resource.user }}#}
    </h1>
    {{ include('security/user_manager_resource/_form.html.twig') }}

{% endblock %}

{% block scripts %}
    {% include '@grr_front/account/_select_room_js.html.twig' %}
{% endblock %}