{% extends 'base.html.twig' %}

{% block title %}UserManagerResource{% endblock %}

{% block body %}
    <h1>UserManagerResource</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Is_area_administrator</th>
                <td>{{ user_manager_resource.isAreaAdministrator ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ user_manager_resource.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('security_user_manager_resource_index') }}">back to list</a>

    <a href="{{ path('security_user_manager_resource_edit', {'id': user_manager_resource.id}) }}">edit</a>

    {{ include('security_user_manager_resource/_delete_form.html.twig') }}
{% endblock %}
