<div class="row">
    <div class="col-6">

        <table class="table table-bordered">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ grr_repeat.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ grr_repeat.name }}</td>
            </tr>
            <tr>
                <th>StartTime</th>
                <td>{{ grr_repeat.startTime|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>EndTime</th>
                <td>{{ grr_repeat.endTime|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>EndDate</th>
                <td>{{ grr_repeat.endDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>RepOpt</th>
                <td>{{ grr_repeat.repOpt|joursSemaine }}</td>
            </tr>
            <tr>
                <th>RoomId</th>
                <td>{{ grr_repeat.roomId | room_getName }}</td>
            </tr>
            <tr>
                <th>Timestamp</th>
                <td>{{ grr_repeat.timestamp ? grr_repeat.timestamp|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ grr_repeat.type }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="col-6">

        <table class="table table-bordered">
            <tbody>
            <tr>
                <th>RepType</th>
                <td>{{ grr_repeat.repType | periodiciteName }}</td>
            </tr>
            <tr>
                <th>CreateBy</th>
                <td>{{ grr_repeat.createBy }}</td>
            </tr>
            <tr>
                <th>BeneficiaireExt</th>
                <td>{{ grr_repeat.beneficiaireExt }}</td>
            </tr>
            <tr>
                <th>Beneficiaire</th>
                <td>{{ grr_repeat.beneficiaire }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ grr_repeat.description }}</td>
            </tr>
            <tr>
                <th>RepNumWeeks</th>
                <td>{{ grr_repeat.repNumWeeks }}</td>
            </tr>
            <tr>
                <th>OverloadDesc</th>
                <td>{{ grr_repeat.overloadDesc }}</td>
            </tr>
            <tr>
                <th>Jours</th>
                <td>{{ grr_repeat.jours }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
