{% extends 'base.html.twig' %}

{% block title %}{{ grr_utilisateur.email }}{% endblock %}

{% block body %}
    <h1>{{ grr_utilisateur.email }}</h1>

    {{ include('grr_utilisateurs/_form.html.twig', {'button_label': 'form.btn.update'}) }}

    <br />
    <a href="{{ path('grr_user_index') }}"><i class="fas fa-arrow-left"></i> {{ 'form.btn.cancel'|trans({},'actions') }}</a>

    {{ include('grr_utilisateurs/_delete_form.html.twig') }}
{% endblock %}
