{% extends 'base.html.twig' %}

{% block title %}GrrUtilisateurs index{% endblock %}

{% block body %}

    <h1>{{ 'user.index.title'|trans({}, 'actions')}}</h1>

    <a class="btn btn-primary" href="{{ path('grr_user_new') }}">{{ 'user.new.title'| trans({}, 'actions') }}</a>
    <br/> <br/>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Login</th>
            <th>Nom</th>
            <th>Email</th>
            <th>Statut</th>
            <th>Etat</th>
        </tr>
        </thead>
        <tbody>
        {% for grr_utilisateur in grr_utilisateurs %}
            <tr>
                <td>
                    <a href="{{ path('grr_user_show', {'id': grr_utilisateur.id}) }}">{{ grr_utilisateur.login }}</a>
                </td>
                <td>{{ grr_utilisateur.nom }} {{ grr_utilisateur.prenom }}</td>
                <td>{{ grr_utilisateur.email }}</td>
                <td>{{ grr_utilisateur.statut }}</td>
                <td>{{ grr_utilisateur.etat }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">{{ 'records.notfound'|trans({}, 'actions') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
