{% extends 'base.html.twig' %}

{% block title %}{{ 'user.new.title'|trans({},'actions') }}{% endblock %}

{% block body %}
    <h1>{{ 'user.new.title'|trans({},'actions') }}</h1>

    {{ include('grr_utilisateurs/_form.html.twig') }}

    <br />
    <a href="{{ path('grr_user_index') }}">{{ 'form.btn.cancel'|trans({},'actions') }}</a>
{% endblock %}
