{% extends 'base.html.twig' %}

{% block title %}GrrUtilisateurs{% endblock %}

{% block body %}
    <h1>GrrUtilisateurs</h1>

    <a href="{{ path('grr_utilisateurs_edit', {'login': grr_utilisateur.login}) }}">edit</a>

    <table class="table">
        <tbody>
        <tr>
            <th>Login</th>
            <td>{{ grr_utilisateur.login }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ grr_utilisateur.nom }}</td>
        </tr>
        <tr>
            <th>Prenom</th>
            <td>{{ grr_utilisateur.prenom }}</td>
        </tr>
        <tr>
            <th>Password</th>
            <td>{{ grr_utilisateur.password }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ grr_utilisateur.email }}</td>
        </tr>
        <tr>
            <th>Statut</th>
            <td>{{ grr_utilisateur.statut }}</td>
        </tr>
        <tr>
            <th>Etat</th>
            <td>{{ grr_utilisateur.etat }}</td>
        </tr>
        <tr>
            <th>DefaultSite</th>
            <td>{{ grr_utilisateur.defaultSite }}</td>
        </tr>
        <tr>
            <th>DefaultArea</th>
            <td>{{ grr_utilisateur.defaultArea }}</td>
        </tr>
        <tr>
            <th>DefaultRoom</th>
            <td>{{ grr_utilisateur.defaultRoom }}</td>
        </tr>
        <tr>
            <th>DefaultStyle</th>
            <td>{{ grr_utilisateur.defaultStyle }}</td>
        </tr>
        <tr>
            <th>DefaultListType</th>
            <td>{{ grr_utilisateur.defaultListType }}</td>
        </tr>
        <tr>
            <th>DefaultLanguage</th>
            <td>{{ grr_utilisateur.defaultLanguage }}</td>
        </tr>
        <tr>
            <th>Source</th>
            <td>{{ grr_utilisateur.source }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('grr_utilisateurs_index') }}">back to list</a>

    <a href="{{ path('grr_utilisateurs_edit', {'login': grr_utilisateur.login}) }}">edit</a>

    {{ include('grr_utilisateurs/_delete_form.html.twig') }}
{% endblock %}
