{% extends 'base.html.twig' %}

{% block title %}GrrTypeArea index{% endblock %}

{% block body %}
    <h1>{{ 'typeArea.index.title'| trans }}</h1>

    <a class="btn btn-primary" href="{{ path('grr_type_area_new') }}"><i
                class="fas fa-plus"></i> {{ 'type_area.new.title'| trans({}, 'actions') }}</a>
    <br/> <br/>

    <table class="table">
        <thead>
        <tr>
            <th>{{ 'typeArea.form.typeName.label'|trans }}</th>
            <th>{{ 'typeArea.form.orderDisplay.label'|trans }}</th>
            <th>{{ 'typeArea.form.couleur.label'|trans }}</th>
            <th>{{ 'typeArea.form.typeLetter.label'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for grr_type_area in grr_type_areas %}
            <tr>
                <td>{{ grr_type_area.typeName }}</td>
                <td>{{ grr_type_area.orderDisplay }}</td>
                <td>{{ grr_type_area.couleur }}</td>
                <td>{{ grr_type_area.typeLetter }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{{ 'records.notfound'| trans({}, 'actions') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
