{% extends 'base.html.twig' %}

{% block title %}{{ grr_type_area.typeName }}{% endblock %}

{% block body %}

    <h1>{{ grr_type_area.typeName }}</h1>

    {% include 'grr_type_area/_actions.html.twig' %}

    <table class="table table-bordered">
        <tbody>
        <tr>
            <th>{{ 'typeArea.form.orderDisplay.label'|trans }}</th>
            <td>{{ grr_type_area.orderDisplay }}</td>
        </tr>
        <tr>
            <th>{{ 'typeArea.form.couleur.label'|trans }}</th>
            <td style="background-color: {{ grr_type_area.couleur }}">{{ grr_type_area.couleur }}</td>
        </tr>
        <tr>
            <th>{{ 'typeArea.form.typeLetter.label'|trans }}</th>
            <td>{{ grr_type_area.typeLetter }}</td>
        </tr>
        <tr>
            <th>{{ 'typeArea.form.disponible.label'|trans }}Disponible</th>
            <td>{{ grr_type_area.disponible }}</td>
        </tr>
        </tbody>
    </table>

    {{ include('grr_type_area/_delete_form.html.twig') }}
{% endblock %}
