{% extends '@grr_admin/layout_admin.html.twig' %}

{% block title %}{{ 'typeEntry.new.title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'typeEntry.new.title'|trans }}</h1>

    {{ include('@grr_admin/type_entry/_form.html.twig') }}
    <br/>
    <a href="{{ path('grr_admin_type_entry_index') }}"><i
                class="fas fa-arrow-left"></i> {{ 'form.btn.cancel'|trans({}, 'actions') }}</a>
{% endblock %}
