{% extends 'layout_front.html.twig' %}

{% block title %}{{ type_area.typeName }}{% endblock %}

{% block body %}
    <h1>{{ type_area.typeName }}</h1>

    {{ include('type_area/_form.html.twig', {'button_label': 'form.btn.update'}) }}

    <br />
    <a href="{{ path('grr_area_index') }}"><i class="fas fa-arrow-left"></i> {{ 'form.btn.cancel'|trans({}, 'actions') }}</a>

    {{ include('type_area/_delete_form.html.twig') }}
{% endblock %}
