{% extends 'layout_front.html.twig' %}

{% block title %}GrrTypeArea index{% endblock %}

{% block body %}
    <h1>{{ 'typeArea.index.title'| trans }}</h1>

    <a class="btn btn-primary" href="{{ path('grr_type_area_new') }}"><i
                class="fas fa-plus"></i> {{ 'typeArea.new.title'| trans({}, 'actions') }}</a>
    <br/> <br/>

    <table class="table">
        <thead>
        <tr>
            <th>{{ 'typeArea.form.typeName.label'|trans }}</th>
            <th>{{ 'typeArea.form.orderDisplay.label'|trans }}</th>
            <th>{{ 'typeArea.form.couleur.label'|trans }}</th>
            <th>{{ 'typeArea.form.typeLetter.label'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for type_area in type_areas %}
            <tr>
                <td>
                    <a href="{{ path('grr_type_area_show', {'id': type_area.id}) }}">
                        {{ type_area.typeName }}
                    </a>
                </td>
                <td>{{ type_area.orderDisplay }}</td>
                <td style="background-color: {{ type_area.couleur}}">{{ type_area.couleur }}</td>
                <td>{{ type_area.typeLetter }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{{ 'records.notfound'| trans({}, 'actions') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
