{% extends 'layout_front.html.twig' %}

{% block title %}GrrUtilisateurs index{% endblock %}

{% block body %}

    <h1>{{ 'user.index.title'|trans({}, 'actions') }}</h1>

    <a class="btn btn-primary" href="{{ path('grr_user_new') }}">
        <i class="fas fa-plus"></i> {{ 'user.new.title'| trans({}, 'actions') }}</a>
    <br/> <br/>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>{{ 'login.form.username.label'| trans }}</th>
            <th>{{ 'user.form.nom.label'| trans }}</th>
            <th>{{ 'user.form.email.label'| trans }}</th>
            <th>{{ 'room.form.statutRoom.label'| trans }}</th>
            <th>{{ 'user.form.etat.label'| trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for utilisateur in utilisateurs %}
            <tr>
                <td>
                    <a href="{{ path('grr_user_show', {'id': utilisateur.id}) }}">{{ utilisateur.login }}</a>
                </td>
                <td>{{ utilisateur.nom }} {{ utilisateur.prenom }}</td>
                <td>{{ utilisateur.email }}</td>
                <td>{{ utilisateur.statut }}</td>
                <td>{{ utilisateur.etat }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">{{ 'records.notfound'|trans({}, 'actions') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
