{% extends 'layout_front.html.twig' %}

{% block title %}{{ 'user.new.title'|trans({},'actions') }}{% endblock %}

{% block body %}
    <h1>{{ 'user.new.title'|trans({},'actions') }}</h1>

    {{ include('utilisateurs/_form.html.twig') }}

    <br />
    <a href="{{ path('grr_user_index') }}"><i class="fas fa-arrow-left"></i> {{ 'form.btn.cancel'|trans({},'actions') }}</a>
{% endblock %}
