{% extends 'layout_front.html.twig' %}

{% block title %}{{ utilisateur.nom }}{% endblock %}

{% block body %}
    <h1>{{ utilisateur.email }}</h1>

    {% include 'utilisateurs/_actions.html.twig' %}

    <table class="table table-bordered">
        <tbody>
        <tr>
            <th>{{ 'login.form.username.label'| trans }}</th>
            <td>{{ utilisateur.login }}</td>
        </tr>
        <tr>
            <th>{{ 'user.form.nom.label'| trans }}</th>
            <td>{{ utilisateur.nom }}</td>
        </tr>
        <tr>
            <th>{{ 'user.form.prenom.label'| trans }}</th>
            <td>{{ utilisateur.prenom }}</td>
        </tr>
        <tr>
            <th>{{ 'user.form.email.label'| trans }}</th>
            <td>{{ utilisateur.email }}</td>
        </tr>
        <tr>
            <th>{{ 'room.form.statutRoom.label'| trans }}</th>
            <td>{{ utilisateur.statut }}</td>
        </tr>
        <tr>
            <th>{{ 'user.form.etat.label'| trans }}</th>
            <td>{{ utilisateur.etat }}</td>
        </tr>
        <tr>
            <th>{{ 'user.form.defaultSite.label'| trans }}</th>
            <td>{{ utilisateur.defaultSite }}</td>
        </tr>
        <tr>
            <th>{{ 'user.form.defaultArea.label'| trans }}</th>
            <td>{{ utilisateur.defaultArea }}</td>
        </tr>
        <tr>
            <th>{{ 'user.form.defaultRoom.label'| trans }}</th>
            <td>{{ utilisateur.defaultRoom }}</td>
        </tr>
        <tr>
            <th>{{ 'user.form.defaultStyle.label'| trans }}</th>
            <td>{{ utilisateur.defaultStyle }}</td>
        </tr>
        <tr>
            <th>{{ 'user.form.defaultListType.label'| trans }}</th>
            <td>{{ utilisateur.defaultListType }}</td>
        </tr>
        <tr>
            <th>{{ 'user.form.defaultLanguage.label'| trans }}</th>
            <td>{{ utilisateur.defaultLanguage }}</td>
        </tr>
        </tbody>
    </table>

    {{ include('utilisateurs/_delete_form.html.twig') }}
{% endblock %}
