{% extends 'base.html.twig' %}

{% block title %}{{ 'user.new.title'|trans({},'actions') }}{% endblock %}

{% block body %}
    <h1>{{ user.login }}</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">{{ button_label|default('form.btn.save') | trans({},'actions') }}</button>
    {{ form_end(form) }}
    <br/>
    <a href="{{ path('grr_user_show',{'id':user.id}) }}">{{ 'form.btn.cancel'|trans({},'actions') }}</a>
{% endblock %}
