<li class="nav-item active">
    <a class="nav-link" href="{{ path('grr_home') }}">{{ 'menu.home'|trans({}, 'actions') }} <span class="sr-only">(current)</span></a>
</li><!--
<li class="nav-item">
    <a class="nav-link" href="{{ path('grr_front_entry_index') }}">{{ 'menu.search'|trans({}, 'actions') }}</a>
</li>-->
<li class="nav-item">
    <a class="nav-link" href="{{ path('grr_admin_index') }}">{{ 'menu.administration'|trans({}, 'actions') }}</a>
</li>
