{% extends 'layout_front.html.twig' %}

{% block title %}GrrArea index{% endblock %}

{% block body %}

    {% include 'calendar/navigation/_navigation.html.twig' %}

    <h3 class="text-center text-success">
        {{ firstDay|date('l') |trans }} {{ firstDay|date('j') }} {{ firstDay|date('F')|trans|lower }} {{ firstDay|date('Y') }}
    </h3>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Heures</th>
            {% for room in rooms %}

                <th>{{ room.name }}</th>

            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for hour in hours %}
            <tr>
                <td>{{ hour.begin|date('H:i') }} - {{ hour.end|date('H:i') }}</td>
                {% for room in rooms %}
                    <th>entries</th>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block scripts %}
    {% include 'calendar/navigation/_menu_select.js.html.twig' %}
{% endblock %}