{% extends 'layout_front.html.twig' %}

{% block title %}GrrArea index{% endblock %}

{% block body %}

    {% include 'calendar/navigation/_top_navigation.html.twig' %}

    <h3 class="text-center text-success">
        {{ day.dayName|title }} {{ day.day }} {{ day.monthName }} {{ day.year }}
    </h3>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">{{ 'Hours'|trans }}</th>
            {% for room in rooms %}
                <th scope="col">{{ room.name }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for hour in hours %}
            <tr>
                <td>{{ hour.begin|date('H:i') }} - {{ hour.end|date('H:i') }}</td>
                {% for roomModel in hour.rooms %}
                    {% for day in roomModel.dataDays %}
                        {% include 'front/day/_cell_day_data.html.twig' %}
                    {% endfor %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block scripts %}
    {% include 'calendar/navigation/form/_menu_select.js.html.twig' %}
{% endblock %}