{% extends 'layout_front.html.twig' %}

{% block title %}{{ firstDay|date('F Y') }}{% endblock %}

{% block body %}

    {% include 'calendar/navigation/_top_navigation.html.twig' %}

    <h3 class="text-center text-success">
        {{ firstDay.monthName|title }} {{ firstDay.year }}<br/>
        {{ area }} - {% if room %} {{ room }} {% else %} {{ 'room.all'|trans({},'actions') }} {% endif %}
    </h3>

    {{ data|raw }}
{% endblock %}

{% block scripts %}
    {% include 'calendar/navigation/form/_menu_select.js.html.twig' %}
{% endblock %}
