{% extends 'layout_front.html.twig' %}

{% block title %}GrrArea index{% endblock %}

{% block body %}

    {% set weekSelected = app.request.get('week') %}
    {% set daySelected = app.request.get('day') %}

    {% include 'calendar/navigation/_top_navigation.html.twig' %}

    <h3 class="text-center text-success">
        {{ 'week'|trans }} du {{ week.firstDay|date('d-m') }}
        au {{ week.lastDay|date('d-m') }}
    </h3>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>{{ 'ressources'|trans }}</th>
            {% for day in week.calendarDays %}
                <th>{{ day|date('l') |trans|lower }} {{ day|date('d') }} {# firstDay.getTranslatedDayName #} {{ day|date('F')|trans|lower }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for room in rooms %}
            <tr>
                <td>{{ room.name }}</td>
                {% for day in week.dataDays %}
                    <td>
                        {% for entry in day.entries %}
                            {{ entry.name }}
                        {% endfor %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block scripts %}
    {% include 'calendar/navigation/_menu_select.js.html.twig' %}
{% endblock %}
