$period = new CarbonPeriod(
            $mutable->firstOfMonth()->toDateString(),
            '1 days',
            $mutable->endOfMonth()->toDateString()
        );

<table class="table table-bordered">
    <thead>
    <tr>
        <th class="text-center" colspan="8">
            <a href="">
                {{ firstDay.monthName|upper }} {{ firstDay.year }}
            </a>
        </th>
    </tr>
    <tr>
        <th>{{ 'week'|trans }}</th>
        {% for dayName in listDays %}
            <th>{{ dayName|trans }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tr>
        <td>
            {{ 'week.initial'|trans({},'actions') }}{{ firstDay.week }}
        </td>
        {% for day in period %}
        <td>{{ day|date('d-m') }}</td>
        {% if day.dayOfWeek == day.firstWeekDay %}day.isNextWeek isLastWeek
    </tr>
    <tr>
        <td>{{ 'week.initial'|trans({},'actions') }}{{ day.week }}</td>
        {% endif %}
        {% endfor %}
    </tr>
</table>
