<div class="border2 p-2 mb-1">
    <a class="" href="{{ path('grr_front_entry_show', {'id': entry.id}) }}">
        {{ entry.name }}
    </a>
    {% if entry.description %}
        <br/>
        {# sf5 | u.truncate(20, '...') #}
        <span class="text-muted">{{ entry.description|slice(1, 2) }}</span>
    {% endif %}
    <div class="row">
        <div class="col-md-10 col-12">
             <span class="m2b-2 text-muted">
    {{ entry.startTime|date('H:i') }}
    - {{ entry.endtime|date('H:i') }}
             </span>
            <br/>
            <span class="font-weight-bold">
                {{ entry.room }}
            </span>
        </div>
        <div class="col-md-2 d-none d-sm-block">
            <div style="background-color: {{ entry.type.color }}"><span class="sr-only">{{ entry.type.name }}</span>&nbsp;
            </div>
        </div>
    </div>
</div>
<hr style="margin: 0;">