<table class="table table-bordered">
    <tr>
        <th>{{ 'periodicity.endtime.label' }}</th>
        <td>{{ entry.periodicity.endTime|date('d-m-Y') }}</td>
    <tr>
    <tr>
        <th>{{ 'periodicity.type.label' }}</th>
        <td>{{ entry.periodicity.type }}</td>
    <tr>
    <tr>
        <th>{{ 'periodicity.repeatWeek.label' }}</th>
        <td>{{ entry.periodicity.repeatWeek }}</td>
    <tr>
</table>