{% extends 'base.html.twig' %}

{% block title %}{{ grr_room.roomName }}{% endblock %}

{% block body %}
    <h1>{{ grr_room.roomName }}</h1>

    {{ include('grr_room/_form.html.twig', {'button_label': 'form.btn.update'}) }}

    <br />
    <a href="{{ path('grr_area_show',{'id': grr_room.areaId}) }}"><i class="fas fa-arrow-left"></i> {{ 'form.btn.cancel'|trans({}, 'actions') }}</a>

    {{ include('grr_room/_delete_form.html.twig') }}
{% endblock %}
