{% extends 'base.html.twig' %}

{% block title %}{{ grr_room.roomName }}{% endblock %}

{% block body %}
    <h1>{{ grr_room.roomName }}</h1>

    {{ include('grr_room/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('grr_room_index') }}">{{ 'back to list'|trans({}, 'actions') }}</a>

    {{ include('grr_room/_delete_form.html.twig') }}
{% endblock %}
