{% extends 'base.html.twig' %}

{% block title %}{{ 'room.index.title'|trans({}, 'actions') }}{% endblock %}

{% block body %}
    <h1>{{ 'room.index.title'|trans({}, 'actions') }}</h1>

    <a class="btn btn-primary" href="{{ path('grr_room_new') }}">{{ 'room.new.title'| trans({}, 'actions') }}</a>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>{{ 'room.form.nom.label'|trans }}</th>
            <th>{{ 'room.form.orderDisplay.label'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for grr_room in grr_rooms %}
            <tr>
                <td>{{ grr_room.areaId }}</td>
                <td><a href="{{ path('grr_room_show', {'id': grr_room.id}) }}">{{ grr_room.roomName }}</a></td>
                <td>{{ grr_room.orderDisplay }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">{{ 'records.notfound'| trans({}, 'actions') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
