{% extends 'base.html.twig' %}

{% block title %}{{ 'GrrRoom index'|trans({}, 'actions') }}{% endblock %}

{% block body %}
    <h1>{{ 'GrrRoom index'|trans({}, 'actions') }}</h1>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>AreaId</th>
            <th>RoomName</th>
            <th>OrderDisplay</th>
        </tr>
        </thead>
        <tbody>
        {% for grr_room in grr_rooms %}
            <tr>
                <td>{{ grr_room.areaId }}</td>
                <td><a href="{{ path('grr_room_show', {'id': grr_room.id}) }}">{{ grr_room.roomName }}</a></td>
                <td>{{ grr_room.orderDisplay }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">{{ 'no records found'| trans({}, 'actions') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('grr_room_new') }}">{{ 'Create new'| trans({}, 'actions') }}</a>
{% endblock %}
