{% extends 'base.html.twig' %}

{% block title %}{{ 'room.new.title'|trans({}, 'actions')}}{% endblock %}

{% block body %}
    <h1>{{ 'room.new.title'|trans({}, 'actions')}}</h1>

    {{ include('grr_room/_form.html.twig') }}

    <a href="{{ path('grr_room_index') }}">{{ 'back.to.list'|trans({}, 'actions') }}</a>
{% endblock %}
