<h3>{{ 'entry.new.periodicity.title'|trans({},'actions') }}</h3>
<hr/>

{{ form_row(form.periodicity.type) }}
{{ form_row(form.periodicity.end_time) }}

{% set display = 'd-none' %}

{% if form.periodicity.type.vars.value == 2 %}
    {% set display = '' %}
{% endif %}

<div id="weeks_options" class="{{ display }}">
    <table class="table table-bordered">
        <tbody>
        <tr>
            <td>
                {{ form_row(form.periodicity.days) }}
            </td>
            <td>
                {{ form_row(form.periodicity.repeat_week) }}
            </td>
        </tr>
        </tbody>
    </table>
</div>