<h3>{{ 'entry.new.periodicity.title'|trans({},'actions') }}</h3>
<hr/>

{{ form_row(form.periodicity.end_time) }}
{{ form_row(form.periodicity.type) }}

<div id="weeks_options" class="{{displayOptionsWeek ? '' : 'd-none'}}">
    <table class="table table-bordered">
        <tbody>
        <tr>
            <td>
                {{ form_row(form.periodicity.days) }}
            </td>
            <td>
                {{ form_row(form.periodicity.repeat_week) }}
            </td>
        </tr>
        </tbody>
    </table>
</div>