{% extends '@grr_admin/layout_admin.html.twig' %}

{% block title %}{{'usermanager.area.title'|trans}}{% endblock %}

{% block body %}
    <div class="card bg-light mb-3">
        <div class="card-header">
            <h3>{{ 'usermanager.area.title'|trans }}  {{ authorizationArea.area }}</h3>
        </div>

        <div class="card-body">
            {# {{ user_manager_resource.room }} {{ user_manager_resource.user }}#}
            {{ include('security/user_authorization_area/_form.html.twig') }}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {% include '@grr_front/account/_select_room_js.html.twig' %}
{% endblock %}