{% extends 'layout_front.html.twig' %}

{% block title %}{{ area.areaName }}{% endblock %}

{% block body %}

    <h1>{{ area.areaName }}</h1>

    {% include 'area/_actions.html.twig' %}

    <div class="row">
        <div class="col-6">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th>
                        {{ 'area.form.access.label'|trans }}
                    </th>
                    <td>{{ area.access }}</td>
                </tr>
                <tr>
                    <th>{{ 'area.form.orderDisplay.label'|trans }}</th>
                    <td>{{ area.orderDisplay }}</td>
                </tr>
                <tr>
                    <th>{{ 'area.form.weekstartsArea.label'|trans }}</th>
                    <td>{{ area.weekstartsArea | joursSemaine }}</td>
                </tr>
                <tr>
                    <th>{{ 'area.form.morningstartsArea.label'|trans }}</th>
                    <td>{{ area.morningstartsArea }}</td>
                </tr>
                <tr>
                    <th>{{ 'area.form.eveningendsArea.label'|trans }}</th>
                    <td>{{ area.eveningendsArea }}</td>
                </tr>
                <tr>
                    <th>
                        {{ 'area.form.resolutionArea.label'|trans }}<br/>
                        <span class="text-muted">{{ 'area.form.resolutionArea.help'|trans }}</span>
                    </th>
                    <td>{{ area.resolutionArea }}</td>
                </tr>
                <tr>
                    <th>{{ 'area.form.eveningendsMinutesArea.label'|trans }}</th>
                    <td>{{ area.eveningendsMinutesArea }}</td>
                </tr>
                <tr>
                    <th>{{ 'area.form.twentyfourhourFormatArea.label'|trans }}</th>
                    <td>{{ area.twentyfourhourFormatArea | hourFormat }}</td>
                </tr>
                <tr>
                    <th>{{ 'area.form.enablePeriods.label'|trans }}</th>
                    <td>{{ area.enablePeriods |periodName }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-6">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th>{{ 'area.form.displayDays.label'|trans }}</th>
                    <td>
                        {% for jour in  area.displayDays %}
                            {{ jour | joursSemaine }},
                        {% endfor %}
                    </td>
                </tr>

                <tr>
                    <th>
                        {{ 'area.form.dureeMaxResaArea.label'|trans }}<br/>
                        <span class="text-muted">{{ 'area.form.dureeMaxResaArea.help'|trans }}</span>
                    </th>
                    <td>{{ area.dureeMaxResaArea }}</td>
                </tr>
                <tr>
                    <th>
                        {{ 'area.form.dureeParDefautReservationArea.label'|trans }}<br/>
                        <span class="text-muted">{{ 'area.form.dureeParDefautReservationArea.help'|trans }}</span>
                    </th>
                    <td>{{ area.dureeParDefautReservationArea }}</td>
                </tr>
                <tr>
                    <th>
                        {{ 'area.form.maxBooking.label'|trans }}<br/>
                        <span class="text-muted">{{ 'area.form.maxBooking.help'|trans }}</span>
                    </th>
                    <td>{{ area.maxBooking }}</td>
                </tr>
                <tr>
                    <th>
                        {{ 'area.form.ipAdr.label'|trans }}<br/>
                        <span class="text-muted">{{ 'area.form.ipAdr.help'|trans }}</span>
                    </th>
                    <td>{{ area.ipAdr }}</td>
                </tr>
                <tr>
                    <th>{{ 'area.form.calendardefaultvalues.label'|trans }}</th>
                    <td>{{ area.calendarDefaultValues }}</td>
                </tr>
                <tr>
                    <th>{{ 'area.form.idTypeParDefaut.label'|trans }}</th>
                    <td>{{ area.idTypeParDefaut }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    {% include 'area/_list_rooms.html.twig' %}

    {{ include('area/_delete_form.html.twig') }}
{% endblock %}
